#autocomplete-suggestions div{
    padding: 5px;
    cursor: pointer;
}

#autocomplete-suggestions div:hover {
    background: #505962;
}

div#geocodingResults {
    width: 25%;
    margin: 3em auto;
    background: #e0e0e0;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 0 10px 0px #000000a1;
    margin-top: 2em;
}

.contenedor-ciudad, .contenedor-valores {
    display: flex;
    align-items: center;
}

.contenedor-ciudad i{
    margin-right: 4px;
}

div#temp {
    font-size: 3em;
    font-weight: 800;
}

div#max-temp, #min-temp, #humidity {
    margin-left: 7px;
}

.titulo-secundario {
    text-align: center;
    padding: 1em 0;
    font-weight: 800;
}



div#weatherInfo{
    margin: auto;
}

div#contenedor-clima-dia {
    width: 300px !important;
    background: aliceblue;
    margin: 0 7px;
    box-shadow: 0 0 7px 0px #0000007d;
    border-radius: 10px;
}

.seccion-5dias {
    background-color: aquamarine;
    background: linear-gradient(180deg, rgba(232,232,232,0.6112570028011204) 24%, rgba(0,147,255,0.6308648459383753) 75%), url(img/atardecer-mar-playa.jpg);
    background-size: cover;
    background-position: center;
}